.chart-content {
    -fx-padding: 30px;
    
}
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 50px;
}
 
.chart-legend-item{
    -fx-text-fill: #191970;
}

.chart-line-symbol {  
	-fx-background-radius: 2px ;
    -fx-padding: 2px ;
}
/* change the default style of tab area*/
.tab {
    -fx-background-color: #d8e0e9;
    -fx-border-width: 0px 0px 4px 0px;
    -fx-border-color: #d8e0e9;
}
.tab-pane>*.tab-header-area>*.tab-header-background {
    -fx-background-color: #d8e0e9;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}
.tab:selected {
    -fx-border-width: 0px 0px 4px 0px;
    -fx-border-color: #990000ff;
}
.tab:selected {
    -fx-font-weight: bold;
}
.tab:hover {
    -fx-border-width: 0px 0px 4px 0px;
    -fx-border-color: #990000ff;
}
/* change the default style of textfield*/
.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 2px 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: gray, -fx-background ;
}
/* change the default style of textfield*/
.date-picker .arrow-button {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0, 0 0 0 0 ;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: #1437AD;
    -fx-background-insets: 0, 0 0 0 0 ;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover .arrow{
    -fx-background-color: white;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: black;
}
.disabled-date {
    -fx-background-color: #ffc0cb
}
/* style of confirm button */
.confirm-btn {
    -fx-background-radius: 2px;
    -fx-background-color: #1437AD;
    -fx-text-fill: white;
}
.confirm-btn:hover {
    -fx-background-color: #1c3fb4;
}
/* change the default style of choice box */
.choice-box {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 2px 0 ;
    -fx-background-radius: 0 ;
}
/* change the default style of table */
.table-view .column-header {
    -fx-background-color: white;
    -fx-border-color: #ececec;
    -fx-border-width: 0px 1px 2px 0px;
}